


.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
    font-style: italic;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 18px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}

.bcontainer{
	margin-right: 852px;
    margin-left: 212px;
    font-size: 48px;
    text-align: left;
    margin-top: 20px;
    color: #6db0c3;
    line-height: 1;
    font-style: italic;


}

.contant{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: red;
    width: 905px;
    font-style: italic;
    text-align: justify;

}

.img1{
	
	text-align: center;



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}




.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 27px;
}

h1{
    color: yellowgreen;
    font-style: italic;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}



.img3{
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container{

text-align: center;

margin-left: auto;

margin-right: auto;

width: 750px;

font-size: 18px;
}

h1{
    color: yellowgreen;
}
.color1{
	color: red;
}
.color2{
	color: skyblue;
}
.color3{
	color: orange;
}
.color4{
	color: green;
}
.color5{
	color: yellow;
}

.img2{
	text-align: center;
}

.bcontainer{
	margin-right: 852px;
    margin-left: 212px;
    font-size: 48px;
    text-align: left;
    margin-top: 20px;
    color: #6db0c3;
    line-height: 1;
    font-style: italic;


}

.contant{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: red;
    width: 905px;
    font-style: italic;
    text-align: justify;

}

.img1{
	
	text-align: center;
}
.footer{
	background-color: #cdd4d4;
    text-align: center;
}
